@(updatePassword :Form[UpdatePassword]) (implicit messages : Messages, flash :Flash>

@import helper._

@main("Update password"){
<div>
    @flash.get("error").getOrElse("")
</div>

@if(updatePassword.hasGlobalErrors) {
<div style="background: red">
    <ul>
        @for(error <- updatePassword.globalErrors) {
        <li>@Messages(error.messages,error.args)</li>
        }
    </ul>
</div>
}

@helper.form(action = routes.LogInController.updatePasswordBinding()){

@helper.inputText(updatePassword("email"),'_label -> "Email",'_showConstraints->false)
@helper.inputPassword(updatePassword("password"),'_label -> "Password",'_showConstraints->false)
@helper.inputPassword(updatePassword("confirmPassword"),'_label->"Confirm Password",'_showConstraints->false)

<button type="submit">Submit</button>
}

}